@tailwind base;
@tailwind components;
@tailwind utilities;
 

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #000000;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #02FFD0;
  border-radius: 20px;
}

/* Firefox için */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #02FFD0 #000000;
}
  .avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #2c303a;
    border: 1px solid #2c303a;
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  .avatar-group {
    display: flex;
    
    &.rtl {
      direction: rtl;
      
      .avatar:hover:not(:last-of-type) {
        transform: translate(10px);
      }
    }
    
    .avatar {
      margin-left: -30px;
      transition: transform 0.3s ease;
      cursor: pointer;
      
      &:hover:not(:last-of-type) {
         transform: translate(-10px);
      }
    }
    
    .hidden-avatars {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      border: 1px black solid;
      justify-content: center;
      align-items: center;
      margin-left: -2px;

      background-color: #02FFD1;
      color: black;
    }
  }

  .avatar2 {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #2c303a;
    border: 1px solid #2c303a;
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  .avatar-group2 {
    
    &.rtl {
      direction: rtl;
      
      .avatar:hover:not(:last-of-type) {
        transform: translate(10px);
      }
    }
    
    .avatar2 {
      margin-left: -30px;
      transition: transform 0.3s ease;
      cursor: pointer;
      
      &:hover:not(:last-of-type) {
         transform: translate(-10px);
      }
    }
    
    .hidden-avatars2 {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      border: 1px black solid;
      justify-content: center;
      align-items: center;
      margin-left: -2px;

      background-color: #02FFD1;
      color: black;
    }
  }
  .conversation {
    width: 100%;
    position: relative;
    z-index: 0;
  }

  .message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 100%;
    word-wrap: break-word;
    z-index: -1;
  }
  
  .message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .message.sent {
    background: #02FFD0;
    border-radius: 0px 5px 5px 5px;
    float: right;
  }
  
  .message.sent:after {
    border-width: 10px 10px 10px 10px;
    border-color: #02FFD0 transparent transparent ;
    top: 0;
    left: -10px;
  }
